body {
  background-color: #323B3D;
  color: #ECEBE4
}

ul  {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

li {
  display: inline;
  padding-right: 15px;
}

a {
  color: #ECEBE4
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.imageContainer {
  border: #E0FF4F 1px solid;
  height: auto;
  width: 250px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  margin: 15px;
  max-width: 250px;
}

h2 {
  text-align: center;
}

/* h1 {
  margin-left: 0.7em;
  margin-top: 0.32em;
  color: #eaf7a6;
} */

ul {
  margin-left: .5em;
}

.image-card {
  border: .5px white solid;
  margin: 5px;
}

header {
  display: flex;
}

#logo-image {
  width: 7em;
  height: 7em;
  margin-left: 0.3em;
}

/* dropdown button css from w3 */

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4b0909;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: #3e8e41;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


