body {
  background-color: #323B3D;
  color: #ECEBE4
}

ul  {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

li {
  display: inline;
  padding-right: 15px;
}

a {
  color: #ECEBE4
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.imageContainer {
  border: #E0FF4F 1px solid;
  height: auto;
  width: 250px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image {
  margin: 15px;
  max-width: 250px;
}

h2 {
  text-align: center;
}

/* h1 {
  margin-left: 0.7em;
  margin-top: 0.32em;
  color: #eaf7a6;
} */

ul {
  margin-left: .5em;
}

.image-card {
  border: .5px white solid;
  margin: 5px;
}

header {
  display: flex;
}

#logo-image {
  width: 7em;
  height: 7em;
  margin-left: 0.3em;
}
